<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Selenium Test Suite">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
        <listener class-name="org.example.core.report.hook.ReportHook"/>
    </listeners>
    <test name="Chrome Test" parallel="methods" thread-count="1">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="testCase.TC01AgodaHotelSearch"/>
        </classes>
    </test>
</suite>
