<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Selenium Level 2 Test Suite">
    <listeners>
        <listener class-name="org.example.config.AllureConfig"/>
    </listeners>
    <test name="Selenium Level 2 Final Test">
        <classes>
            <class name="testCase.TC001_VERIFY_USER_CAN_FILTER_SEARCH_CONDITION_FOR_PRODUCT"/>
            <class name="testCase.TC002_VERIFY_VIEWED_ITEM_APPEARS_IN_VIEWED_SECTION"/>

        </classes>
    </test>
</suite>
